<header class="mb-auto sticky-top text-white bg-dark p-2">
  <div>
    <img [src]="baseHref + '/assets/img/logo.webp'" class="float-md-start mb-0 logo" />
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link" (click)="navigateToSection('home')" [class.active]="isSectionActive('#home')"
        aria-current="page" href="#home">Home</a>
      <a class="nav-link" (click)="navigateToSection('screenshot')" [class.active]="isSectionActive('#screenshot')"
        href="#screenshot">Screenshots</a>
      <a class="nav-link" (click)="navigateToSection('download')" [class.active]="isSectionActive('#download')"
        href="#download">Download</a>
      <a class="nav-link" (click)="navigateToSection('features')" [class.active]="isSectionActive('#features')"
        href="#features">Features</a>
      <a class="nav-link" (click)="navigateToSection('about')" [class.active]="isSectionActive('#about')"
        href="#about">About</a>
    </nav>
  </div>
</header>

<main class="container h-100 p-0 m-0">
  <section class="h-50 d-flex justify-content-center align-items-center flex-column" id="home"></section>

  <section class="container h-50 d-flex justify-content-center align-items-center flex-column py-3">
    <div class="row flex-column justify-content-center align-items-center">
      <div class="col-md-12">
        <h1>Welcome to TyraCraft Official Page</h1>
        <p class="lead">
          TyraCraft is an OpenSource open source project that aims to bring an
          volxel like game for PlayStaton 2 powered by Tyra Engine
        </p>
        <p class="lead">
          We're very happy to announce our first public pre-alpha build!
        </p>
      </div>
    </div>
  </section>

  <section id="screenshot">
    <div id="carouselPresentation" class="carousel slide carousel-fade" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPresentation" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPresentation" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPresentation" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselPresentation" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselPresentation" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselPresentation" data-bs-slide-to="5" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="baseHref + '/assets/img/screenshot_1.png'" class="d-block w-100" alt="screenshot_1" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Main Menu</h5>
            <p>(Running on PCSX2 emulator)</p>
          </div>
        </div>
        <div class="carousel-item">
          <img [src]="baseHref + '/assets/img/screenshot_2.png'" class="d-block w-100" alt="screenshot_2" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Create World Menu</h5>
            <p>Pick a seed and lets play!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img [src]="baseHref +'/assets/img/screenshot_3.png'" class="d-block w-100" alt="screenshot_3" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Loading Scrren</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img [src]="baseHref + '/assets/img/screenshot_4.png'" class="d-block w-100" alt="screenshot_4" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Flat World</h5>
            <p>A random screenshot of a flat world</p>
          </div>
        </div>
        <div class="carousel-item">
          <img [src]="baseHref + '/assets/img/screenshot_5.png'" class="d-block w-100" alt="screenshot_5" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Island World</h5>
            <p>Many blocks for building you structures</p>
          </div>
        </div>
        <div class="carousel-item">
          <img-comparison-slider tabindex="0" class="rendered">
            <img slot="first" width="100%" [src]="baseHref + '/assets/img/no_vegetation.png'">
            <img slot="second" width="100%" [src]="baseHref + '/assets/img/vegetation_and_AO.png'">
          </img-comparison-slider>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPresentation" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPresentation" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="container py-2 d-flex justify-content-center align-items-center flex-column" id="download">
    <h1>Get the pre-alpha version!</h1>
    <h2 class="text-warning lead">
      WARNING! This project is (an always will be) FREE! Please don't pay for
      it.
    </h2>
    <p class="text-info lead">
      Keep on mind that this is a very early stage build, many bugs and weird
      behaviour are expected!
    </p>

    <div class="container">
      <div class="row justify-content-center p-3">
        <div class="col-md-3">
          <a [href]="elfDownloadUlr" target="_blank" type="button" class="btn btn-lg btn-success position-relative">
            <i class="bi bi-download"></i> Download ELF
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
              new!
              <span class="visually-hidden">new</span>
            </span>
          </a>
          <p><small>({{tagName}})</small></p>
        </div>
        <div class="col-md-3">
          <a [href]="assetsDownloadUlr" target="_blank" type="button" class="btn btn-lg btn-success">
            <i class="bi bi-file-zip-fill"></i> Assets
          </a>
          <p><small>7z assets </small></p>
        </div>
        <div class="col-md-3">
          <a href="https://github.com/Wellinator/tyracraft" target="_blank" type="button"
            class="btn btn-lg btn-success">
            <i class="bi bi-github"></i> Source Code
          </a>
          <p><small>GitHub</small></p>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-2 d-flex justify-content-center align-items-center flex-column" id="download">
    <h1>Old versions</h1>

    <div class="container">
      <div class="row justify-content-center p-3">
        <div class="col-md-12">

          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Version</th>
                <th scope="col">ELF</th>
                <th scope="col">Assets</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rel of oldVersions">
                <th scope="row">{{rel.tagName}}</th>
                <td>
                  <a [href]="rel.elfLink" target="_blank" type="button" class="btn btn-sm btn-info position-relative">
                    <i class="bi bi-download"></i> ELF
                  </a>
                </td>
                <td>
                  <a [href]="rel.assestsLink" target="_blank" type="button"
                    class="btn btn-sm btn-info position-relative">
                    <i class="bi bi-file-zip-fill"></i> Assets (7z)
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>

  <section class="container d-flex justify-content-center align-items-center flex-column" id="features">
    <h1>New Features</h1>
    <p class="lead">
      Some features that are currently working in TyraCraft. Tutorial coming
      soon!
    </p>

    <div class="card-group">
      <div class="card bg-dark align-items-center m-1 p-2">
        <img [src]="baseHref + '/assets/img/music_disc.webp'" class="card-img-top w-25" alt="Music Disc" />
        <div class="card-body bg-dark">
          <h5 class="card-title">Custom Music</h5>
          <p class="card-text">
            Now you can load your favorite songs and listen to then at main menu
            or during the game play.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Take a look at the README in <kbd>assets/menu/sounds</kbd> and
              <kbd>assets/game/creative</kbd>
            </small>
          </p>
        </div>
      </div>
      <div class="card bg-dark align-items-center m-1 p-2">
        <img [src]="baseHref + '/assets/img/grass_block.webp'" class="card-img-top w-25" alt="Grass Block" />
        <div class="card-body bg-dark">
          <h5 class="card-title">Texture Packs</h5>
          <p class="card-text">
            You can create, load and share texture packs dynamically.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Take a look at the README in
              <kbd>assets/textures/texture_packs</kbd></small>
          </p>
        </div>
      </div>
      <div class="card bg-dark align-items-center m-1 p-2">
        <img [src]="baseHref + '/assets/img/chest.webp'" class="card-img-top w-25" alt="Chest" />
        <div class="card-body bg-dark">
          <h5 class="card-title">Save Game</h5>
          <p class="card-text">
            You can save and load your worlds to play later or share with
            friends. The world are saved at <kbd>saves</kbd> folder at root of
            you assets directory
          </p>
          <p class="card-text"><small class="text-body-secondary">The worlds are being saved on USB only
              temporarily</small>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="container d-flex justify-content-center align-items-center flex-column" id="about">
    <h1>Join us</h1>
    <p class="lead">Feel free to fork the project and start contributing :D</p>
    <p class="lead">Follow us on Discord, YouTube and Github!</p>

    <div class="row fs-2">
      <div class="col-4">
        <a href="https://discord.com/invite/E2hQAt4Dft" target="_blank" style="color: #5865f2">
          <i class="bi bi-discord"></i>
        </a>
      </div>
      <div class="col-4">
        <a href="https://www.youtube.com/@TyraCraft" target="_blank" class="text-danger">
          <i class="bi bi-youtube"></i>
        </a>
      </div>
      <div class="col-4">
        <a href="https://github.com/Wellinator/tyracraft" target="_blank" class="text-light">
          <i class="bi bi-github"></i>
        </a>
      </div>
    </div>
  </section>
</main>

<footer class="mt-auto text-white-50 fixed-bottom text-white bg-dark py-2">
  <kbd>
    Made with <i class="bi bi-heart-fill text-danger"></i> by
    <a class="link-warning" href="https://github.com/Wellinator">@Wellinator</a>
  </kbd>
</footer>